<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carrito de Compras</title>
</head>
<body>

<h1>Carrito de Compras</h1> 
{{cart.products}}
{{#if cart.products}}
<ul>
    {{#each products}}
    <li>
      {{!-- <h2>Producto: {{this.title}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Imagen: {{this.thumbnail}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Categoría: {{this.category}}</p> --}}
      <p>Cantidad: {{this.quantity}}</p>
    </li>
    {{/each}}
  </ul>

<h3>Total del carrito: {{totalAmount}}</h3>

  {{#if totalPurchaseAmount}}
        <h3>Total de la compra: {{totalPurchaseAmount}}</h3>
  {{/if}}
  
  <form action="http://localhost:8083/api/carts/{{_id}}/purchase" method="POST">
  <button type="submit">Finalizar compra</button>
  </form>
  {{else}}
      <p>El carrito está vacío.</p>
  {{/if}}
 
</body>
</html>

